

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridContainer {
    display: grid;
    background-color: #eeeeee;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto 210px;
    gap: 0px 0px;
    
    grid-template-areas:
        "header header header"  
        "main main main "
        "footer footer footer";
}